{% extends "page\base.html" %}{% block title %} Home {% endblock %} 
{% block content %}

    <div class="about">
      <div class="info_blog">
        <img
        src="https://scontent.fsgn2-9.fna.fbcdn.net/v/t39.30808-6/344377928_207152528764523_8532357016069828029_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=PhjwFM8DfZQAX8LWym7&_nc_ht=scontent.fsgn2-9.fna&oh=00_AfBQTjiqYk6cbADv05Ae7RfxM66gdSbZjihKsEJQEtHbDw&oe=646098CC"
        class="responsive-img"
        style="max-height: 500px"
        />
        <div>
          <p class="about-me"> About Me </p>
          <p class="about-item"> A small river named Duden flows by their place and supplies it with the necessary regelialia. </p>
          <p class="about-item">
            Name:   Phạm Thị Thanh Nhung <br/>
            Date of Birth:   June 12, 2002 <br/>
            Address:   70 Hoang Du Khuong - Khue Trung - Cam Le - Da Nang<br/>
            Email:   nhung51555@donga.edu.vn<br/>
            Phone:   +84 0983924268<br/>
            10 project complete<br/>
          </p>
          <button class="button">Download CV</button>

        </div>
      </div>

  </div>

{% endblock %}
