{% extends "page\base.html" %}
{% block title %} Home {% endblock %} 
{% block content %}
<div class="my_contact">
  <div>
    <p class="about-me text-center">Contact Me</p>
    <p class="about-item text-center">
      Far far away, behind the word mountains, far from the countries Vokalia
      and Consonantia
    </p>
  </div>

  <div class="d-flex mb-4 text-center">
    <div class="info_contact">
      <div class="icon"><i class="bi bi-house-check-fill"></i></div>
      <p class="item">ADDRESS</p>
      <p>70 Hoang Du Khuong - Khue Trung - Cam Le - Da Nang</p>
    </div>

    <div class="info_contact">
      <div class="icon"><i class="bi bi-telephone-fill"></i></div>
      <p class="item">CONTACT NUMBER</p>
      <p>+84 0983924268</p>
    </div>

    <div class="info_contact">
      <div class="icon"><i class="bi bi-airplane-fill"></i></div>
      <p class="item">EMAIL ADDRESS</p>
      <p>nhung51555@donga.edu.vn</p>
    </div>

    <div class="info_contact">
      <div class="icon"><i class="bi bi-globe-central-south-asia"></i></div>
      <p class="item">WEBSITE</p>
      <p>yoursite.com</p>
    </div>
  </div>

  <div>  
    <div class="buttonn">
      <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgL91jRkrQvAd-8WQckcghrfOx6LlMv2mKRdbZI19lBoHZOgIkN7I2_UwfAvBxAwagQJ4&usqp=CAU"      class="img_contact"
      style="max-height: 500px"
    />
     <div class="button_1"> 
      <button class="a"> Your Name</button>
      <button class="a"> Your Email</button>
      <button class="a"> Subject</button>
      <button class="mess_button"> Message</button>
      <button class="send_button"> Send Message</button>
     </div>
    </div>
  </div>

  <div class="d-flex text-start">
   <div class="contact_item">
     <p class="item">About</p>
     <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
   </div>
  
   <div class="contact_item">
     <p class="item">Links</p>
     <div><i class="bi bi-arrow-right-short">Home</i></div>
     <div><i class="bi bi-arrow-right-short">About</i></div>
     <div><i class="bi bi-arrow-right-short">Blog</i></div>
     <div><i class="bi bi-arrow-right-short">Contact</i></div>   
   </div>
  
   <div class="contact_item">
     <p class="item">Services</p>
     <div><i class="bi bi-arrow-right-short">Web Design</i></div>
     <div><i class="bi bi-arrow-right-short">Web Development</i></div>
     <div><i class="bi bi-arrow-right-short">Business Strategy</i></div>
     <div><i class="bi bi-arrow-right-short">Data Analysis</i></div>
     <div><i class="bi bi-arrow-right-short">Graphic Design</i></div>
   </div>
  
   <div class="contact_item">
     <p class="item">Have a Questions?</p>
     <div><i class="bi bi-geo-alt">70 Hoang Du Khuong - Khue Trung -  Cam Le - Da nang</i></div>
     <div><i class="bi bi-telephone-fill">+84 0939324268</i></div>
     <div><i class="bi bi-envelope"></i>nhung51555@donga.edu.vn</div>
   </div>
  </div> 
  
</div>



{% endblock %}
