{% extends "page\base.html" %} 
{% block title %} Home {% endblock %} 
{% block content %} 
      
    <div class="home">

      <!-- Background image -->
    <header>
    <div
        class="p-5 text-center bg-image"
        style="
          background-image: url('https://scontent.fsgn2-9.fna.fbcdn.net/v/t39.30808-6/346466075_984803096031550_5779587482106088841_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=roK7REXdEcQAX91a9rL&_nc_ht=scontent.fsgn2-9.fna&oh=00_AfAjoh9gj11qW-gnMZw3f7lzqbnRHbBLbl8xny-W76-TXA&oe=646130E4');
          height: 350px;
        "
        >
    <div >
        <div class="d-flex justify-content-center align-items-center ">
          <div class=" col-12 ">
            <h1 class="fw-light">WELLCOME <br/></h1>
            <p class="lead">This is my blog about lessons and personal experiences</p>
          </div>
        </div>
      </div>
    </div>
    
    </div> 
    </header>

<!-- Page Content -->

    <div class="container py-5 ">
      <h2 class="fw-light">Page Blog</h2>
        
        <p class=" py-5">  Trước tiên tôi xin cảm ơn bạn đã quan tâm tới blog và hân hoan chào mừng bạn cùng tôi chia sẻ kiến thức tại blog này.
          Tôi tên đầy đủ Pham Thi Thanh Nhung, năm nay 21 tuổi và hiện đang là sinh viên năm 3 ngành CNTT của Đại Học Đông Á.<br/>
          Với ước mơ thành lập một Doanh nghiệp Kinh Doanh về Công Nghệ Thông Tin tại tỉnh thành nhỏ mà tôi đang sinh sống trong tương lai không xa để góp một phần nhỏ vào sự phát triển Tin Học của tỉnh nhà và mong muốn được chia sẻ những điều hay trong cuộc sống đến tất cả các bạn trẻ ở khắp nơi. Tôi tạo ra trang blog này nhằm mục đích lưu lại những trải nghiệm quý giá của bản thân và những thông tin bổ ích tôi thu nhặt được nhằm phục vụ cho bản thân và hạnh phúc hơn là được chia sẻ đến cộng đồng – những ai cũng thực sự muốn thành công trong tương lai không xa !<br/>
          Blog này là nơi để tôi ghi lại những bài học, kinh nghiệm và ghi lại những tiến bộ cũng như sự trì trệ của mình nhằm tự khích lệ trước những sự tiến bộ cũng như tự nhắc nhở phê bình bản thân trước những trì trệ, lười biếng.<br/>
          Đáng lẽ ra đúng nghĩa của Blog thì chỉ là nhật ký của riêng bản thân một ai đó thôi. Nhưng KIẾN THỨC THÌ KHÔNG CỦA RIÊNG AI, vì vậy tôi muốn public trang web này như là một kho tài liệu tham khảo về Phát triển bản thân, Định hướng cuộc đời và những kiến thức liên quan đến Thành công học… giúp mọi người có thêm một sự lựa chọn kho kiến thức để học tập.<br/>
          Những bài viết trong trang web này xen lẫn giữa những trải nghiệm bản thân mà tôi nghiệm ra và những kiến thức chọn lọc sưu tầm từ khắp nơi trên internet. Mong rằng cả các bạn và tôi đều sâu chuỗi thành công những kiến thức trên để biến nó thành “chìa khóa thành công” của riêng mình.
        </p>
        
    </div>

    <div class="container">
      <h2 class="fw-light">Resume</h2>
      <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
      <p class=" py-5">  Trước tiên tôi xin cảm ơn bạn đã quan tâm tới blog và hân hoan chào mừng bạn cùng tôi chia sẻ kiến thức tại blog này.
        Tôi tên đầy đủ Pham Thi Thanh Nhung, năm nay 21 tuổi và hiện đang là sinh viên năm 3 ngành CNTT của Đại Học Đông Á.<br/>
        Với ước mơ thành lập một Doanh nghiệp Kinh Doanh về Công Nghệ Thông Tin tại tỉnh thành nhỏ mà tôi đang sinh sống trong tương lai không xa để góp một phần nhỏ vào sự phát triển Tin Học của tỉnh nhà và mong muốn được chia sẻ những điều hay trong cuộc sống đến tất cả các bạn trẻ ở khắp nơi. Tôi tạo ra trang blog này nhằm mục đích lưu lại những trải nghiệm quý giá của bản thân và những thông tin bổ ích tôi thu nhặt được nhằm phục vụ cho bản thân và hạnh phúc hơn là được chia sẻ đến cộng đồng – những ai cũng thực sự muốn thành công trong tương lai không xa !<br/>
        Blog này là nơi để tôi ghi lại những bài học, kinh nghiệm và ghi lại những tiến bộ cũng như sự trì trệ của mình nhằm tự khích lệ trước những sự tiến bộ cũng như tự nhắc nhở phê bình bản thân trước những trì trệ, lười biếng.<br/>
        Đáng lẽ ra đúng nghĩa của Blog thì chỉ là nhật ký của riêng bản thân một ai đó thôi. Nhưng KIẾN THỨC THÌ KHÔNG CỦA RIÊNG AI, vì vậy tôi muốn public trang web này như là một kho tài liệu tham khảo về Phát triển bản thân, Định hướng cuộc đời và những kiến thức liên quan đến Thành công học… giúp mọi người có thêm một sự lựa chọn kho kiến thức để học tập.<br/>
        Những bài viết trong trang web này xen lẫn giữa những trải nghiệm bản thân mà tôi nghiệm ra và những kiến thức chọn lọc sưu tầm từ khắp nơi trên internet. Mong rằng cả các bạn và tôi đều sâu chuỗi thành công những kiến thức trên để biến nó thành “chìa khóa thành công” của riêng mình.
      </p>
    </div>
      

</div>

{% endblock %}

